<%= form_for(@milkshake) do |f| %>
  <% if @milkshake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milkshake.errors.count, "error") %> prohibited this milkshake from being saved:</h2>

      <ul>
      <% @milkshake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shake %><br>
    <%= f.text_field :shake %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_field :ingredients %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
